/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.o-mt-5{
  margin-top: -5px;
}

.o-btn-pointer{
  cursor: pointer;
}

.o-btn-back{
  width: 150px;
}

.checked {
  color: orange;
}

.btn-action-modal{
  width: 100px;
}

.image-detail-emas{
  width: 100%;
  max-width: 250px;
  max-height: 250px;
}

.input-cursor:hover{
  cursor: pointer !important
}